.card {
    width: 200px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    position: relative; 
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Allows color picker to align correctly */
}

.text {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.textInput {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

.textArea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    color: inherit;
    background: none;
    border: none;
    resize: none; /* Prevents resizing */
    outline: none;
    font-family: inherit;
}
.trashIcon {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    margin: 10px;
}


