.card {
    width: 220px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative; 
    color: white;
    overflow: hidden;
}

.content {
    flex: 1;
    margin: 10px;
    min-height: 0;
    position: relative;
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack children vertically */
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: inherit; /* Ensures bottom bar matches card color */
}

.text {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    flex: 1; /* Take up available space */
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
    max-height: 80px; /* Set maximum height to ensure scrolling */
}

/* Apply the same scrollbar styling to .text as .textArea */
.text::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.text::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.textArea {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    color: inherit;
    background: none;
    border: none;
    resize: none;
    outline: none;
    font-family: inherit;
    height: calc(100% - 10px);
    overflow-y: auto;
}

.textArea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.textArea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.textArea::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.textArea::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.trashIcon {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    margin: 10px;
}
.pinIcon {
    cursor: pointer;
    font-size: 20px;
    position: absolute; 
    top: 8px; 
    left: 8px; 
    z-index: 1; 
}

.pinned {
    box-shadow: 0 0 5px rgba(176, 196, 222, 0.5); 
}
  