.PlusCard {
    width: 220px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative; 
    color: #929292;
    background-color: #3d3d3d;
}

.PlusCard:hover {
    cursor: pointer;
}